    .untyped
    {
        color:#000 ;
    }

    .good
    {
        color:#339900;
    }

    .wrong
    {
         color:#ff0000;
    }

    .focus
    {
    	background-color: #6699CC;
    	border-radius : 10%;
    }

	#textSource{
		width: 100%;
		height: 150px;
		overflow: hidden;
	}
	
	.header{
		font-size: 24px;
		background-color: #cccccc;
		color: #ffffff;
	}
	
	#display{
		font-size: 28;
		line-height: 170%;
		font-family: Times New Roman;
		border: solid 1px #cfcfcf;
	}